# Java и компилированные файлы
*.class
*.war
*.jar

# Логи
/logs/
*.log

# IntelliJ IDEA
/.idea/
*.iml
/out/

# Mac OS X
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Linux
*~

# Gradle
.gradle/
build/

# Spring Boot
target/
.mvn/
.settings/

# Конфиденциальные файлы
*.env
application.properties
db.properties

# Node.js (если используется)
node_modules/

# Исключение для pom.xml
!pom.xml
