# Java и компилированные файлы
*.class
*.war
*.jar

# Логи
/logs/
*.log

# IntelliJ IDEA
/.idea/
*.iml
/out/

# Mac OS X
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Linux
*~

# Gradle
.gradle/
build/
gradle/
!gradle-wrapper.properties

# Spring Boot
target/
.mvn/
.settings/

# Конфиденциальные файлы
*.env
application.properties
db.properties

# Node.js (если используется)
node_modules/

# Исключение для pom.xml
!pom.xml

# Исключение для README.md
!README.md

# Исключение для src/
!src/

# Исключение для .gitattributes
.gitattributes
build.gradle
gradlew
gradlew.bat
settings.gradle